<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Todisco_News>
            <version>0.2.0</version>
        </Todisco_News>
    </modules>
    <global>
        <blocks>
            <todisco_news>
                <class>Todisco_News_Block</class>
            </todisco_news>
        </blocks>
        <helper>
            <todisco_news>
                <class>Todisco_News_Helper</class>
            </todisco_news>
        </helper>
        <models>
            <todisco_news>
                <class>Todisco_News_Model</class>
                <resourceModel>todisco_news_resource</resourceModel>
            </todisco_news>
            <todisco_news_resource>
                <class>Todisco_News_Model_Resource</class>
                <entities>
                    <category>
                        <table>todisco_news_category</table>
                    </category>
                    <story>
                        <table>todisco_news_story</table>
                    </story>
                </entities>
            </todisco_news_resource>
        </models>
        <resources>
            <todisco_news_setup>
                <setup>
                    <module>Todisco_News</module>
                </setup>
            </todisco_news_setup>
        </resources>
    </global>
    <frontend>
        <adminhtml>
            <translate>
                <modules>
                    <todisco_news>
                        <files>
                            <default>Todisco_News.csv</default>
                        </files>
                    </todisco_news>
                </modules>
            </translate>
        </adminhtml>
    </frontend>
    <admin>
        <routers>
            <todisco_news>
                <use>admin</use>
                <args>
                    <module>Todisco_News</module>
                    <frontName>todisco_news</frontName>
                </args>
            </todisco_news>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <todisco_news>
                    <files>
                        <default>Todisco_News.csv</default>
                    </files>
                </todisco_news>
            </modules>
        </translate>
        <layout>
            <updates>
                <todisco_news>
                    <file>todisco_news.xml</file>
                </todisco_news>
            </updates>
        </layout>
    </adminhtml>
    <default>

    </default>
</config>